body {

    //Animacion slider para slider_infiniti
    @keyframes Slider {
        from {
            transform: translateX(0); //empezara en la posicion 0
        }

        to {
            transform: translateX(-100%); //ara un desplazamiento en el eje X del -100%
        }
    }

    .container {
        .container_header {
            .header_nav {
                //Barra de navegacion
                padding: 10px;
                padding-left: 20px;
                padding-right: 20px;

                .row {
                    .logo_nav {
                        a {
                            position: relative;
                            display: inline-block;
                        }

                        .navbar-brand {
                            .nav_logo_name {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(50%, -50%);
                                margin: 0;
                            }
                        }
                    }

                    //Elementos del nav
                    .header_nav_items {
                        .navbar-nav {
                            .nav-item {

                                .nav_search {
                                    cursor: pointer;
                                }

                                .nav-link {
                                    padding: 0px;
                                }
                            }

                            justify-content: right;

                            li {
                                margin-left: 10px;
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
        }

        .content {

            //Carrusel
            .carousel {
                .carousel-inner {
                    .carousel-item {
                        height: 400px;
                        background-color: red;
                    }
                }

                .carousel_button_catalog {
                    .btn {
                        box-shadow: 15px 5px 10px #48529944;
                        border-radius: 18px;
                    }

                    position: absolute;
                    top: 90%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin: 0;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }

            //Slider Inifiniti
            .logos {
                overflow: hidden;
                padding: 15px 0;
                background-color: #f2f2f2f2;
                white-space: nowrap;
                position: relative;
            }

            .logos:hover .logos_slider {
                animation-play-state: paused;
            }

            .logos:before,
            .logos:after {
                position: absolute;
                top: 0;
                width: 250px;
                height: 100%;
                content: "";
                z-index: 2;
            }

            .logos:before {
                left: 0;
                background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
            }

            .logos:after {
                right: 0;
                background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
            }

            .logos_slider {
                display: inline-block;
                animation: 15s Slider infinite linear;
            }

            .logos_slider img {
                height: 40px;
                margin: 0 90px;
            }
        }
    }
}